<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteLogo">
  <test thread-count="5" name="Test">
    <classes>
      <class name="yourlogo.vrushali.CreateAccountTest"/>
      <class name="yourlogo.vrushali.LogInTest"/>
      <class name="yourlogo.vrushali.ProductDetailsTest"/>
<!--       <class name="yourlogo.vrushali.AppTest"/>
      <class name="yourlogo.vrushali.TestBase"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- SuiteLogo -->
